header {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
}
header .flex {
    justify-content: space-between;
    text-align: center;
}
header .logo img {
    transform: translateX(100px);
}
.find {
    display: flex;
    align-items: center;
}
header .find a {
    color: #868686;
    margin: 0 10px;
}
.menu-btn i {
    font-size: 25px;
}
.find i {
    font-size: 23px;
}